@import url(style.css);
*{
    padding: 0%;
    margin: 0%;
}
.logo{
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin-top: 20px;
}
.top-40{
    margin-bottom: 40px;
}
.link-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    font-size: 25px;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}
.link-sidebar a{
    color: white;
    text-decoration: none;
    
    
}
.sidebar{
    position: fixed;
    top: 0%;
    left:0%;
    height: 100%;
    width: 250px;
    background-color: var(--secondColor);
    transition: all ease-in-out 500ms;
    
}
.wrap-content{
    position: relative;
    left: 20px;
}
.wrap-content ul{
    list-style: none;
    
}
.wrap-content ul li{
    padding-bottom: 50px;
    color: white;
}
.wrap-content ul li a{
    color: white;
    font-size: 17px;
    text-decoration: none;
    
}
#btn{
    cursor: pointer;
    position: absolute;
    top: 0%;
    margin-top: 0px;
    padding: 10px;
    left: 100%;
    background-color: var(--gold);
    font-size: 20px;
    color: white;
}
.burger {
    cursor: pointer;
	height: 20px;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
    width: 100%;
}
.burger span {
    display: block;
    width: 24px;
    height: 3px;
	border-radius: 3px;
    justify-content: center;
	background-color: rgb(255, 255, 255)
}

.active{
    text-decoration: underline;
    color: yellow;
}
.title-admin{
    margin-top: 40px;
    color: white;
}