@import url(style.css);

.Left-information {
  padding: 40px 0;
  font-size: 42px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  position: relative;
  color: var(--white);
}

.Left-information span {
  font-size: 25px;
}

.Left-information::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: block;
  width: 70%;
  height: 1.5px;
  background-color: var(--gold);
}

.wrapperImage {
  padding: 8rem 20px 4rem 20px;
  position: relative;
}

.backImage {
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 319px;
  height: 379px;
  background: var(--gold);
}

.gambar-utama {
  height: 475px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}

.posisi-mawar-1,
.posisi-mawar-2 {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
}

.posisi-mawar-1 {
  left: -20px;
  top: 45px;
}
.posisi-mawar-2 {
  right: 0px;
  bottom: -75px;
}

.bottom-information {
  padding: 20px 0;
  width: 100%;
  background-color: var(--gold);
}

.contents-bottom-information p {
  font-size: 25px;
  color: var(--white);
}

.wrapperIntroContent h2 {
  font-size: 36px;
  color: var(--gold);
}

.wrapperIntroContent h1 {
  font-size: 42px;
  margin: 5px 0;
  color: var(--white);
}

.wrapperIntroContent p {
  font-size: 24px;
  color: var(--white);
}

.sideLine,
.sideLine-2 {
  position: absolute;
  width: 2px;
  height: 70%;
  background: var(--gold);
}

.sideLine {
  left: -35px;
}

.sideLine-2 {
  right: -35px;
}

.BerandaStar-1,
.BerandaStar-2,
.BerandaStar-3 {
  position: absolute;
}

.BerandaStar-1 {
  left: -15%;
  top: -15%;
}

.BerandaStar-2 {
  left: 2.5%;
  bottom: -15%;
}

.BerandaStar-3 {
  left: -15%;
  bottom: -15%;
}

.CostumPosisi {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.TitleSelected {
  margin-bottom: 4rem;
  padding-top: 20px;
}

.TitleSelected img {
  width: 50px;
}

.TitleSelected span {
  font-size: 42px;
  margin: 0 20px;
  color: var(--white);
}

.CardThreePart {
  width: 31%;
  height: auto;
  position: relative;
  border: 2px solid var(--white);
  padding: 25px 20px 0px 20px;
  border-radius: 10px;
}

.CardThreePart h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.CardThreePart h1 {
  font-size: 42px;
  color: var(--white);
}

.CardThreePart:nth-child(2) {
  margin: 0 2%;
}

.CardBottom {
  position: absolute;
  bottom: 0;
}

.SelectedStar-1,
.SelectedStar-2 {
  position: absolute;
}

.SelectedStar-1 {
  width: 150px;
  right: 0;
}

.SelectedStar-2 {
  width: 150px;
  left: 0;
  bottom: 0;
}

.TitleInfo h1 {
  font-size: 64px;
  color: var(--white);
}

.TitleInfo h3 {
  color: var(--gold);
  font-size: 24px;
  margin: 1.5rem 0 2.5rem 0;
}

.CardTwoPart {
  width: 48%;
  height: auto;
  position: relative;
  border: 2px solid var(--white);
  padding: 30px;
  border-radius: 10px;
}

.CardTwoPart:first-child {
  margin-right: 1px;
}

.CardTwoPart:last-child {
  margin-left: 1px;
}

.CardTwoPart h1 {
  font-size: 42px;
  color: var(--white);
  margin-bottom: 30px;
}

.CardTwoPart h1 span {
  color: var(--gold);
}

.CardTwoPart p {
  font-size: 18px;
  color: var(--white);
  width: 85%;
}

.CardTwoPart img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 40px;
}

.wrapperPost h1 {
  font-size: 42px;
  color: var(--white);
  margin-bottom: 2rem;
}

.wrapperPost p {
  font-size: 24px;
  color: var(--gold);
  margin-bottom: 1rem;
}

.cardInfo {
  width: 34%;
  height: auto;
  position: relative;
  border: 2px solid var(--white);
  border-radius: 10px;
}

.cardInfo img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.ContentInfo {
  padding: 20px 30px;
}

.ContentInfo h2 {
  color: var(--white);
  font-size: 30px;
  margin-bottom: 10px;
}

.ContentInfo p {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 18px;
}

.ContentInfo .DetailIcon img {
  width: 25px;
}

.ContentInfo .DetailIcon img:nth-child(2) {
  margin: 0 5px;
}

.left-layout {
  width: 30%;
  position: relative;
}

.cardFull {
  width: 100%;
  height: auto;
  position: relative;
  border: 2px solid var(--white);
  padding: 30px;
  transition: 0.7s;
  border-radius: 10px;
}

.WrapperUMKM h2 {
  color: var(--white);
  font-size: 32px;
}

.WrapperUMKM h2 span {
  color: var(--gold);
}

.WrapperUMKM h1 {
  font-size: 42px;
  color: var(--white);
  margin: 1.5rem 0;
}

.WrapperUMKM p {
  color: var(--white);
  font-size: 18px;
  margin-bottom: 1.5rem;
}

.imgPenyu {
  display: flex;
  justify-content: flex-end;
}

.imgPenyu:nth-child(2) {
  display: none;
  justify-content: flex-start;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
}

.btn-left {
  display: none;
  justify-content: flex-start;
}

@media (min-width: 0px) and (max-width: 765px) {
  .backImage {
    width: 264px;
    height: 319px;
  }

  .gambar-utama {
    height: 400px;
  }

  .wrapperImage {
    padding-top: 6rem;
  }

  .BerandaStar-1,
  .BerandaStar-2,
  .BerandaStar-3 {
    display: none;
  }

  .posisi-mawar-1,
  .posisi-mawar-2 {
    width: 155px;
    height: 155px;
  }

  .posisi-mawar-2 {
    right: -15px;
    bottom: -65px;
  }

  .posisi-mawar-1 {
    left: -40px;
    top: 50px;
  }

  .wrapperIntroContent p {
    font-size: 18px;
    margin-top: 20px;
  }

  .Left-information {
    font-size: 26px;
  }

  .Left-information span {
    font-size: 20px;
  }

  .Left-information::after {
    width: 100%;
  }

  .BerandaIMG {
    max-width: 100%;
  }

  .TitleSelected span {
    font-size: 32px;
  }

  .TitleSelected img {
    display: none;
  }

  .SelectedStar-1,
  .SelectedStar-2 {
    display: none;
  }

  .CardThreePart {
    width: 100%;
  }

  .CardThreePart:nth-child(2) {
    margin: 5% 0;
  }

  .CardThreePart img {
    max-width: 100%;
  }

  .CardBottom {
    position: initial;
  }

  .CardThreePart h2 {
    font-size: 21px;
  }

  .CardThreePart h1 {
    font-size: 24px;
  }

  .TitleInfo h1 {
    font-size: 32px;
  }

  .TitleInfo h3 {
    font-size: 18px;
  }

  .CardTwoPart {
    margin: 5% 0;
    width: 100%;
  }

  .CardTwoPart h1 {
    font-size: 32px;
  }

  .CardTwoPart p {
    width: 100%;
    margin-bottom: 20px;
  }

  .CardTwoPart img {
    position: initial;
    transform: translateY(0%);
  }

  .left-layout {
    width: 100%;
  }

  .wrapperPost h1 {
    font-size: 36px;
    text-align: center;
  }

  .wrapperPost p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }

  .left-layout img {
    margin-bottom: 20px;
  }

  .cardInfo {
    margin: 5% 0;
    width: 100%;
  }

  .ContentInfo h2 {
    font-size: 25px;
  }

  .imgPenyu {
    display: none;
  }

  .imgPenyu:nth-child(2) {
    display: flex;
    width: 100%;
  }

  .btn-right {
    display: none;
  }

  .btn-left {
    display: flex;
    justify-content: flex-start;
  }

  .WrapperUMKM h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .WrapperUMKM h1 {
    font-size: 32px;
  }

  .WrapperUMKM {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .bottom-information {
    max-width: 100%;
  }

  .BerandaStar-1,
  .BerandaStar-2,
  .BerandaStar-3 {
    display: none;
  }

  .sideLine,
  .sideLine-2 {
    display: none;
  }

  .CostumLeftTab {
    margin-left: 3rem;
  }

  .wrapperIntroContent p {
    margin-top: 20px;
    font-size: 24px;
    margin-right: 15px;
  }

  .BerandaIMG {
    max-width: 100%;
  }

  .BerandaIMG:nth-child(2) {
    margin: 20px 0;
  }

  .CostumPosisi {
    justify-content: flex-end;
  }

  .CardThreePart {
    width: 100%;
  }

  .CardThreePart:nth-child(2) {
    margin: 5% 0;
  }

  .CardBottom {
    position: initial;
  }

  .SelectedStar-1,
  .SelectedStar-2 {
    display: none;
  }
  .CardTwoPart {
    margin: 5% 0;
    width: 100%;
  }

  .CardTwoPart p {
    font-size: 24px;
  }

  .cardInfo {
    margin: 5% 0;
    width: 100%;
  }

  .left-layout {
    width: 100%;
  }

  .wrapperPost h1 {
    text-align: center;
  }

  .wrapperPost p {
    margin-bottom: 30px;
    text-align: center;
  }

  .imgPenyu {
    display: none;
  }

  .imgPenyu:nth-child(2) {
    display: flex;
    width: 100%;
  }

  .WrapperUMKM h2 {
    margin-bottom: 20px;
  }

  .btn-right {
    display: none;
  }

  .btn-left {
    display: flex;
    justify-content: flex-start;
  }

  .ContentInfo h2 {
    font-size: 36px;
  }

  .ContentInfo p {
    font-size: 24px;
  }

  .imgPenyu {
    display: none;
  }

  .imgPenyu:nth-child(2) {
    display: flex;
    width: 100%;
  }

  .btn-right {
    display: none;
  }

  .btn-left {
    display: flex;
    justify-content: flex-start;
  }

  .cardFull .CostumTabLayout {
    width: 100%;
  }

  .WrapperUMKM h2 {
    max-width: 100%;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .WrapperUMKM h1 {
    font-size: 32px;
  }

  .WrapperUMKM p {
    font-size: 24px;
  }
}
