@import url(style.css);

.make-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edu-content {
  width: 100%;
}
.title {
  display: block;
}
.title-content {
  padding: 40px 0;
  font-size: 42px;
  width: 100%;
  line-height: 40px;
  color: var(--white);
}
.mini-title-content {
  color: var(--gold);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.mini-title-content p {
  width: 70%;
}
.edu-nav {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.all-edu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.edu-card {
  width: 100%;
  border: 2px solid var(--white);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.edu-card a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}

.edu-card a.ActiveEduBtn {
  color: var(--primaryColor);
}

.edu-card.ActiveEduBtn {
  transition: 0.7s;
  background: var(--white);
}

.eduFullCard {
  margin: 5% 0;
  width: 100%;
}
.eduFullCard a {
  text-decoration: none;
}

.eduFullCard h1 {
  font-size: 42px;
  color: var(--white);
  margin-bottom: 30px;
}
.eduFullCard h1 span {
  color: var(--gold);
}

.eduFullCard p {
  font-size: 18px;
  color: var(--white);
  width: 85%;
}

.eduFullCard img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 40px;
}
.bg-white {
  background-color: white;
  text-align: center;
  border-radius: 20px;
}
