@import url(style.css);

.top-15-minus {
  transform: translateY(-15rem);
  margin-bottom: -15rem;
}

.bottom-5 {
  margin-bottom: 5%;
}

.inspoTitle {
  width: 50%;
  position: relative;
  color: var(--white);
}

.inspoTitle h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.inspoTitle p {
  width: 70%;
  color: var(--gold);
  font-size: 24px;
}

.inspoTitle img {
  margin: 20px 0 0 10px;
}

.cardInfo {
  width: 100%;
  height: auto;
  position: relative;
  border: 2px solid var(--white);
  border-radius: 10px;
}

.cardInfo img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.ContentInfo {
  padding: 20px 30px;
}

.ContentInfo h2 {
  color: var(--white);
  font-size: 30px;
  margin-bottom: 10px;
}

.ContentInfo p {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 18px;
}

.ContentInfo .DetailIcon img {
  width: 25px;
}

.ContentInfo .DetailIcon img:nth-child(2) {
  margin: 0 5px;
}

.Left-Padding {
  padding-left: 2.5%;
}

.Right-Padding {
  padding-right: 2.5%;
}

@media (min-width: 0px) and (max-width: 765px) {
  .top-15-minus {
    transform: translateY(0);
    margin-bottom: 0;
  }

  .Right-Padding,
  .Left-Padding {
    padding: 0;
  }

  .inspoTitle {
    width: 100%;
    margin-bottom: 10%;
  }

  .inspoTitle h1 {
    font-size: 36px;
    text-align: center;
  }

  .inspoTitle p {
    text-align: center;
    width: 100%;
    font-size: 18px;
  }

  .ContentInfo h2 {
    font-size: 25px;
  }

  .ContentInfo p {
    font-size: 18px;
  }

  .inspoTitle .MobileCenter img {
    margin-bottom: 20px;
  }

  .cardInfo {
    max-height: 100%;
    margin-bottom: 5%;
  }

  .bottom-5 {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .top-15-minus {
    transform: translateY(-8rem);
  }

  .cardInfo {
    max-width: 100%;
  }
}
