@import url(style.css);
@import url(beranda.css);

.jobTitle h1 {
  color: var(--white);
  font-size: 42px;
  margin-bottom: 20px;
}

.jobTitle p {
  color: var(--gold);
  font-size: 24px;
}

.CostumBTN button {
  border-radius: 5px;
  margin: 0 7px;
  padding: 15px 100px;
  font-size: 28px;
}

.WrapperManipulation {
  overflow-y: hidden;
  transition: 0.7s;
}

@media (min-width: 0px) and (max-width: 765px) {
  .jobTitle h1 {
    font-size: 36px;
  }

  .jobTitle p {
    font-size: 18px;
  }

  .CostumBTN {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .CostumBTN button {
    width: 100%;
    padding: 15px 0px;
  }

  .CostumBTN button:nth-child(1) {
    margin-bottom: 10px;
  }

  .CostumBTN button:nth-child(2) {
    margin-top: 10px;
  }
}
