<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/beranda.css" />
    <link rel="stylesheet" href="../CSS/eduspace.css" />
    <link rel="stylesheet" href="../CSS/detail-edu.css" />
    <link rel="stylesheet" href="../CSS/detail-tokoh.css" />
    <meta name="HandheldFriendly" content="true" />
    <title>EduSpace</title>
  </head>
  <body>
    <!-- START NAVBAR -->
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index.html"> Home </a>
          </li>
          <li>
            <a href="eduspace.html"> EduSpace </a>
          </li>
          <li>
            <a href="inspo.html"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter.html"> UMKM </a>
          </li>
          <li>
            <a href=""> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>

    <div id="ParentWrapper">

      <!-- START MAIN CONTENT -->
      <div class="container">
        <section class="edu-content additional-margin">
            <div class="toCenter">
              <div class="title">
                <div class="title-content textCenter title-tokoh">
                  <h2>Info Terkini</h2>
                </div>
              </div>
            </div>
          </section>
          <div class="cardFull wrapContent margin-bottom">
              <div class="CardTwo text-white">
                    <div class="title-tokoh">
                        <h1> Pak Nadiem Makarim 
                            <span>Bagi Bagi Laptop GRATIS?</span>
                        </h1>
                    </div>
                    <div class="tokoh-content weight-300">
                        <p>
                            Menteri Pendidikan, Kebudayaan, Riset dan Teknologi, Nadiem Makarim lagi punya proyek besar nih! Yakni, pengadaan laptop senilai Rp 17,42 triliun. Namun eks bos Gojek itu, tidak sendiri. Dia dikawal Menko bidang Kemaritiman dan Investasi, Luhut Binsar Pandjaitan.
                        </p><br>
                        <p>
                            Luhut dan Nadiem menggelar konferensi pers (konpers) bersama membahas soal ini pada Kamis (22/7).
                            Tema konpersnya : Peningkatan Penggunaan Produk Dalam Negeri pada Sektor Pendidikan. Konpers ini dipandu oleh Kepala Biro Komunikasi Kemenko Marves Andreas Dipi Patria secara virtual.
                        </p><br>
                        <p>
                            Menurut pak Luhut “masalah utama dari belanja pemerintah selama ini. Dimana, masih lebih doyan belanja produk impor dari pada produk dalam negeri (PDN). Khususnya di bidang Teknologi Informasi dan Komunikasi (TIK). Sehingga belanja PDN jadi lebih rendah ketimbang produk impor”
                        </p><br>
                        <p>
                            lalu Pak Nadiem menambahkan, Ia mengaitkan pengadaan laptop besar-besaran itu dengan visinya selama ini, yaitu Merdeka Belajar. Karena dengan menggunakan laptop yang diproduksi di dalam negeri, diharapkan bisa berdampak pada peningkatan kualitas pendidikan Indonesia.
                        </p><br>
                        <p>
                            Itulah latar belakang diadakan projek ini,dengan syarat Leptop harus buatan dalam negri.
                        </p><br>
                        <a href="http://industry.co.id" target="_blank" rel="noopener noreferrer" class="text-white">
                            Sumber : industry.co.id cnnindonesia.com
                        </a>       
                    </div>
              </div>
              <div class="img-tokoh">
                <div class="wrapperImage">
                  <div class="backImage">
                    <img src="../Image/nadiem.png" class="gambar-utama" style="padding-right: 70px;" />
                  </div>
                </div>
              </div>
          </div>

      </div>
    </div>

    <footer>
      <div class="container">
        <div class="wrapContent">
          <div class="left-footer">
            <div class="wrapContent MobileFooterCenter">
              <div class="FooterContentLeft">
                <h3>
                  Home<br />
                  EduSpace
                </h3>
              </div>
              <div class="FooterContentLeft">
                <h3>
                  Inspo<br />
                  JobCenter
                </h3>
              </div>
            </div>
          </div>
          <div class="right-footer">
            <div class="FooterContentRight">
              <h3>
                Created by : RPA Teams<br />
                © 2021 InDev. All rights reserved.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../JS/app.js"></script>
  </body>
</html>
