<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/beranda.css" />
    <link rel="stylesheet" href="../CSS/eduspace.css" />
    <link rel="stylesheet" href="../CSS/detail-edu.css" />
    <link rel="stylesheet" href="../CSS/detail-tokoh.css" />
    <link rel="stylesheet" href="../CSS/detail-umkm.css" />
    <script src="https://kit.fontawesome.com/d1a508a7c1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Image/logo/logo80.png" type="image/x-icon" style="height: 20px;">
    <meta name="HandheldFriendly" content="true" />
    <title>UMKM Detail</title>
  </head>
  <body>
    <!-- Btn Slide Up -->

    <div class="WrapperCircleUp" onclick="ScroolTop()">
      <i class="fas fa-angle-up"></i>
    </div>
    
    <!-- START NAVBAR -->
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index"> Home </a>
          </li>
          <li>
            <a href="eduspace"> EduSpace </a>
          </li>
          <li>
            <a href="inspo"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter" class="ActiveNav"> UMKM </a>
          </li>
          <li>
            <a href="../Auth/login"> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>

    <div class="Nav-Mobile">
      <div class="toParentCenter">
          <ul>
            <li>
              <a href="../index"> Home </a>
            </li>
            <li>
              <a href="eduspace"> EduSpace </a>
            </li>
            <li>
              <a href="inspo"> Inspo </a>
            </li>
            <li>
              <a href="jobCenter" class="ActiveNav"> UMKM </a>
            </li>
            <li>
              <a href="../Auth/login"> Login </a>
            </li>
          </ul>
      </div>
    </div>

    <div id="ParentWrapper">

      <!-- START MAIN CONTENT -->
      <div class="container">
        <section class="edu-content additional-margin">
            <div class="toCenter">
              <div class="title">
                <div class="title-content textCenter title-tokoh">
                  <h2>INFO UMKM</h2>
                </div>
              </div>
            </div>
          </section>
          <div class="cardFull wrapContent margin-bottom">
            <div class=" CardTwo makeCenter">
                <div class="img-tokoh">
                    <div class="wrapperImage">
                      <div class="backImage">
                        <div class="gmbr-umkm">
                          <img src="../Image/wisuda.png" class="gambar-utama"/>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
              <div class="CardTwo text-white">
                    <div class="title-tokoh">
                      <h1 style="text-align: start">
                        <span>Belajar</span>
                        Belajar sekarang lebih mudah! Dimana saja kapan saja!
                      </h1>
                    </div>
                    <div class="tokoh-content weight-300">
                      <p>
                        Pandemi Covid mengharuskan kita untuk teteap di rumah,hal itu mengakibatkan kita belajar secara daring/online. Untuk media pembelajaran yang digunakan juga beragam,salahsatunya ialah Ruang Guru. 

                      </p><br>

                      <p>
                        Ruangguru merupakan perusahaan teknologi terbesar di Indonesia yang berfokus pada layanan berbasis pendidikan. Kami telah memiliki lebih dari 22.000.000 pengguna serta mengelola 300.000 guru yang menawarkan jasa di lebih dari 100 bidang pelajaran.

                      </p><br>

                      <p>
                        Ruangguru mengembangkan berbagai layanan belajar berbasis teknologi, termasuk layanan kelas virtual, platform ujian online, video belajar berlangganan, marketplace les privat, serta konten-konten pendidikan lainnya yang bisa diakses melalui web dan aplikasi Ruangguru.

                      </p><br>

                      <p>
                        Ruangguru juga telah dipercaya untuk bermitra dengan 32 (dari 34) Pemerintah Provinsi dan 326 Pemerintah Kota dan Kabupaten di Indonesia.

                      </p><br>
                      <p>
                        Perusahaan ini didirikan sejak tahun 2014 oleh Belva Devara dan Iman Usman, yang keduanya berhasil masuk dalam jajaran pengusaha sukses di bawah 30 tahun melalui Forbes 30 under 30 untuk sektor teknologi konsumen di Asia. Di tahun 2019, mereka mendapat penghargaan sebagai Emerging Entrepreneur dari Ernst & Young.

                      </p><br>
                      </p><br>
                        <a href="http://ruangguru.com" target="_blank" rel="noopener noreferrer" class="text-white">
                            Sumber : ruangguru.com
                        </a>       
                    </div>
              </div>
              
          </div>

      </div>
    </div>

    <footer>
      <div class="container">
        <div class="wrapContent">
          <div class="left-footer">
            <div class="wrapContent MobileFooterCenter">
              <div class="FooterContentLeft">
                <h3>
                  <a href="../index.html" class="text-white">
                    Home<br />
                  </a>
                  <a href="eduspace.html" class="text-white">
                    EduSpace
                  </a>
                </h3>
              </div>
              <div class="FooterContentLeft">
                <h3>
                  <a href="inspo.html" class="text-white">
                    Inspo<br />
                  </a>
                  <a href="jobCenter.html"  class="text-white">
                    UMKM
                  </a>
                </h3>
              </div>
            </div>
          </div>
          <div class="right-footer">
            <div class="FooterContentRight">
              <h3>
                Created by : RPA Teams<br />
                © 2021 InDev. All rights reserved.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../JS/app.js"></script>
  </body>
</html>
