<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/beranda.css" />
    <link rel="stylesheet" href="../CSS/eduspace.css" />
    <link rel="stylesheet" href="../CSS/detail-edu.css" />
    <link rel="stylesheet" href="../CSS/detail-tokoh.css" />
    <link rel="stylesheet" href="../CSS/detail-umkm.css" />
    <script src="https://kit.fontawesome.com/d1a508a7c1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Image/logo/logo80.png" type="image/x-icon" style="height: 20px;">
    <meta name="HandheldFriendly" content="true" />
    <title>UMKM Detail</title>
  </head>
  <body>
    <!-- Btn Slide Up -->

    <div class="WrapperCircleUp" onclick="ScroolTop()">
      <i class="fas fa-angle-up"></i>
    </div>
    
    <!-- START NAVBAR -->
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index"> Home </a>
          </li>
          <li>
            <a href="eduspace"> EduSpace </a>
          </li>
          <li>
            <a href="inspo"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter"> UMKM </a>
          </li>
          <li>
            <a href="../Auth/login"> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>

    <div class="Nav-Mobile">
      <div class="toParentCenter">
          <ul>
            <li>
              <a href="../index"> Home </a>
            </li>
            <li>
              <a href="eduspace"> EduSpace </a>
            </li>
            <li>
              <a href="inspo"> Inspo </a>
            </li>
            <li>
              <a href="jobCenter"> UMKM </a>
            </li>
            <li>
              <a href="../Auth/login"> Login </a>
            </li>
          </ul>
      </div>
    </div>

    <div id="ParentWrapper">

      <!-- START MAIN CONTENT -->
      <div class="container">
        <section class="edu-content additional-margin">
            <div class="toCenter">
              <div class="title">
                <div class="title-content textCenter title-tokoh">
                  <h2>INFO UMKM</h2>
                </div>
              </div>
            </div>
          </section>
          <div class="cardFull wrapContent margin-bottom">
            <div class=" CardTwo makeCenter">
                <div class="img-tokoh">
                    <div class="wrapperImage">
                      <div class="backImage">
                        <img src="../Image/nelayan.png" class="gambar-utama"  />
                      </div>
                    </div>
                </div>
            </div>
              <div class="CardTwo text-white">
                    <div class="title-tokoh">
                        <h1>
                            Perdagangan Nelayan Terintegrasi <span>Terbesar </span> di Indonesia
                          </h1>
                    </div>
                    <div class="tokoh-content weight-300">
                        <p>&nbsp;&nbsp;
                            Aruna  adalah salah satu contoh kemajuan teknologi dibidang maritim. Yang berfokus menjadi pusat ekonomi maritim dunia dengan menciptakan ekosistem perikanan yang berkelanjutan dan adil bagi semua pemangku kepentingan, mulai dari nelayan hingga pelanggan. Kami ingin menginspirasi penggunaan sumber daya laut yang berkelanjutan untuk pertumbuhan ekonomi, meningkatkan kehidupan masyarakat, dan keberlanjutan ekosistem laut.
                        </p><br>
                        <p>&nbsp;&nbsp;
                            Mengapa berfokus kepada maritim? 
                            Karena indonesia merupakan negara maritim (sebagian besarnya merupakan perairan),memiliki banyak potensi di bidang perairan baik air tawar dan air asin.
                            Aruna saat ini bekerja dengan 5.000 nelayan di 15 provinsi di seluruh kepulauan Indonesia. Tahun lalu, Aruna adalah pemenang utama NUS-Alipay Social Innovation Challenge. Pada tahun 2017, tim mengumpulkan dana bibit dari distributor perangkat keras dan mesin UMG Indonesia.
                        </p><br>
                        
                        <a href="http://aruna.id" target="_blank" rel="noopener noreferrer" class="text-white">
                            Sumber : Aruna.id dan Forbes.com
                        </a>       
                    </div>
              </div>
              
          </div>

      </div>
    </div>

    <footer>
      <div class="container">
        <div class="wrapContent">
          <div class="left-footer">
            <div class="wrapContent MobileFooterCenter">
              <div class="FooterContentLeft">
                <h3>
                  Home<br />
                  EduSpace
                </h3>
              </div>
              <div class="FooterContentLeft">
                <h3>
                  Inspo<br />
                  JobCenter
                </h3>
              </div>
            </div>
          </div>
          <div class="right-footer">
            <div class="FooterContentRight">
              <h3>
                Created by : RPA Teams<br />
                © 2021 InDev. All rights reserved.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../JS/app.js"></script>
  </body>
</html>
