<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/beranda.css" />
    <link rel="stylesheet" href="../CSS/eduspace.css" />
    <link rel="stylesheet" href="../CSS/detail-edu.css" />
    <script src="https://kit.fontawesome.com/d1a508a7c1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Image/logo/logo80.png" type="image/x-icon" style="height: 20px;">
    <meta name="HandheldFriendly" content="true" />
    <title>EduSpace Detail</title>
  </head>
  <body>
    <!-- Btn Slide Up -->

    <div class="WrapperCircleUp" onclick="ScroolTop()">
      <i class="fas fa-angle-up"></i>
    </div>
    
    <!-- START NAVBAR -->
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index"> Home </a>
          </li>
          <li>
            <a href="eduspace" class="ActiveNav"> EduSpace </a>
          </li>
          <li>
            <a href="inspo"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter"> UMKM </a>
          </li>
          <li>
            <a href="../Auth/login"> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>

    <div class="Nav-Mobile">
      <div class="toParentCenter">
          <ul>
            <li>
              <a href="../index"> Home </a>
            </li>
            <li>
              <a href="eduspace" class="ActiveNav"> EduSpace </a>
            </li>
            <li>
              <a href="inspo"> Inspo </a>
            </li>
            <li>
              <a href="jobCenter"> UMKM </a>
            </li>
            <li>
              <a href="../Auth/login"> Login </a>
            </li>
          </ul>
      </div>
    </div>

    <div id="ParentWrapper">

      <!-- START MAIN CONTENT -->
      <section class="edu-content additional-margin">
        <div class="toCenter">
          <div class="title">
            <div class="title-content textCenter">
              <h2>Edu Info</h2>
            </div>
            <div class="mini-title-content textCenter">
              <p>
                Edu Space hadir untuk memberikan edukasi seputar teknologi
                kepada pemuda Indonesia dengan harapan menambahkan wawasan dan
                pengetahuan kepada pemuda Indonesia
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="cardFull detailEduCard">
          <h1>
            7 Habit 
            <span>Orang Sukses</span>
          </h1>
          <div class="toCenter">
            <img src="../Image/image 5.svg" alt="" style="margin-bottom: 20px;">  
         </div>
          <p> &nbsp;&nbsp;
            Dibalik kesuksesan seseorang,mereka memiliki kebiasaan yang baik. Dengan memiliki habit yang baik hidup akan lebih bermakna. “Anda beralih dari ketergantungan menuju kemandirian dan saling ketergantungan. Jika Anda ingin sukses dengan orang lain, sukses dulu dengan diri sendiri,” kata Covey.
          </p><br/>
          <p>
            <span>Kebiasaan 1 : Jadilah Proaktif</span><br/>
            kita lah sumber motivasi menuju kesuksesan kita masing - masing. Kita yang mengemudikan kemana kita akan pergi. Kita yang bertanggung jawab atas kebahagian atau ketidakberhasilan kita masing masing
          </p><br/>
          <p>
             <span>Kebiasaan 2 : Mulailah dengan akhir di pikiran.</span><br/>
            Maksudnya ialah kita coba menruntutkan dari awa,kegiatan pertama sampai kegiatan terakhir.
          </p><br/>
          <p>
              <span>Kebiasaan 3 : Mendahulukan yang utama</span><br/>
             Manajemen waktu adalah keahlian penting untuk manajemen pribadi. Inti sari manajemen waktu adalah mengelola dan melaksanakan prioritas
          </p><br/>
          <p>
             <span>Kebiasaan 4 : Berfikir MENANG / KALAH</span><br/>
            Tentukan apakah kamu ingin menjadi pemenang / pecundng.
          </p>
          <p><br/>
            <span>Kebiasaan 5 : Berusaha untuk  mengerti baru minta dimengerti</span><br/>
            Latih diri untuk berempati contoh berempati yakni lebih banyak mendengarkan daripada berbicara jika perlu.
          </p>
          <p><br/>
            <span>Kebiasaan 6 : kerjasama kreatif</span><br/>
            Sinergi bermakna keseluruhan adalah lebih besar dari pada jumlah setiap bagiannya. Intisari dari sinergi adalah perbedaan nilai-nilai – dengan menghormatinya, membangun kekuatan, dan mengkompensasikan kelemahan. 
          </p>
          <p><br/>
            <span>Kebiasaan 7 : Prinsip Keseimbangan Pembaharuan-diri</span><br/>
            Mengambil waktu untuk mengasah diri. Dengan memperbaharui empat dimensi dari sifat alamimu – fisik, spiritual, mental dan sosial/emosional, kamu bisa bekerja lebih cepat dan tanpa kesulitan. Untuk mengerjakannya, kita harus proaktif.
          </p><br>
          <a href="https://id.wikipedia.org/wiki/Tujuh_Kebiasaan_Manusia_yang_Sangat_Efektif" target="_blank" rel="noopener noreferrer" class="text-white">
            Sumber : wikipedia
        </a> 
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="wrapContent">
          <div class="left-footer">
            <div class="wrapContent MobileFooterCenter">
              <div class="FooterContentLeft">
                <h3>
                  <a href="../index.html" class="text-white">
                    Home<br />
                  </a>
                  <a href="eduspace.html" class="text-white">
                    EduSpace
                  </a>
                </h3>
              </div>
              <div class="FooterContentLeft">
                <h3>
                  <a href="inspo.html" class="text-white">
                    Inspo<br />
                  </a>
                  <a href="jobCenter.html"  class="text-white">
                    UMKM
                  </a>
                </h3>
              </div>
            </div>
          </div>
          <div class="right-footer">
            <div class="FooterContentRight">
              <h3>
                Created by : RPA Teams<br />
                © 2021 InDev. All rights reserved.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../JS/app.js"></script>
  </body>
</html>
