<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/beranda.css" />
    <link rel="stylesheet" href="../CSS/eduspace.css" />
    <link rel="stylesheet" href="../CSS/detail-edu.css" />
    <link rel="stylesheet" href="../CSS/detail-tokoh.css" />
    <script src="https://kit.fontawesome.com/d1a508a7c1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Image/logo/logo80.png" type="image/x-icon" style="height: 20px;">
    <meta name="HandheldFriendly" content="true" />
    <title>Inspirasi Detail</title>
  </head>
  <body>
    <!-- Btn Slide Up -->

    <div class="WrapperCircleUp" onclick="ScroolTop()">
      <i class="fas fa-angle-up"></i>
    </div>
    
    <!-- START NAVBAR -->
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index"> Home </a>
          </li>
          <li>
            <a href="eduspace"> EduSpace </a>
          </li>
          <li>
            <a href="inspo"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter"> UMKM </a>
          </li>
          <li>
            <a href="../Auth/login"> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>

    <div class="Nav-Mobile">
      <div class="toParentCenter">
          <ul>
            <li>
              <a href="../index"> Home </a>
            </li>
            <li>
              <a href="eduspace"> EduSpace </a>
            </li>
            <li>
              <a href="inspo"> Inspo </a>
            </li>
            <li>
              <a href="jobCenter"> UMKM </a>
            </li>
            <li>
              <a href="../Auth/login"> Login </a>
            </li>
          </ul>
      </div>
    </div>

    <div id="ParentWrapper">

      <!-- START MAIN CONTENT -->
      <div class="container">
        <section class="edu-content additional-margin">
            <div class="toCenter">
              <div class="title">
                <div class="title-content textCenter title-tokoh">
                  <h2>Info Terkini</h2>
                </div>
              </div>
            </div>
          </section>
          <div class="cardFull wrapContent margin-bottom">
              <div class="CardTwo text-white">
                    <div class="title-tokoh">
                        <h1> Bukalapak Mendapatkan IPO
                            <span> Tertinggi di Indonesia</span>
                        </h1>
                    </div>
                    <div class="tokoh-content weight-300">
                        <p>
                          Bukalapak adalah salah satu perusahaan teknologi Indonesia yang memiliki misi menciptakan perekonomian yang adil untuk semua. Dalam hal ini, Bukalapak merupakan platform perdagangan elektronik (e-commerce). Para penggunanya dapat melakukan transaksi jual-beli barang dan menggunakan berbagai fitur serta layanan yang telah tersedia.
                        </p><br>
                        <p>
                          Mengutip data RTI, saham BUKA naik 3,11 persen ke posisi Rp 995 per saham pada sesi pertama. Pada pembukaan perdagangan, saham BUKA melemah 15 poin ke posisi Rp 940 kemudian berbalik arah ke zona hijau. Saham BUKA berada di level tertinggi Rp 1.035 dan terendah Rp 910 per saham.
                        </p><br>
                        <p>
                          Harapannya BUKA dapat menjadi inspirasi StartUp lainnya untuk terus berinovasi dan berjuang membangun ekosistem bisnis dan teknologi yang sehat.
                        </p><br>
                        <a href="http://Bukalapak.com" target="_blank" rel="noopener noreferrer" class="text-white">
                            Sumber : Bukalapak.com
                        </a>       
                    </div>
              </div>
              <div class="img-tokoh">
                <div class="wrapperImage">
                  <div class="backImage">
                    <img src="../Image/buka lapak.png" class="gambar-utama"  />
                  </div>
                </div>
              </div>
          </div>

      </div>
    </div>

    <footer>
      <div class="container">
        <div class="wrapContent">
          <div class="left-footer">
            <div class="wrapContent MobileFooterCenter">
              <div class="FooterContentLeft">
                <h3>
                  Home<br />
                  EduSpace
                </h3>
              </div>
              <div class="FooterContentLeft">
                <h3>
                  Inspo<br />
                  JobCenter
                </h3>
              </div>
            </div>
          </div>
          <div class="right-footer">
            <div class="FooterContentRight">
              <h3>
                Created by : RPA Teams<br />
                © 2021 InDev. All rights reserved.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../JS/app.js"></script>
  </body>
</html>
