<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/beranda.css" />
    <link rel="stylesheet" href="../CSS/eduspace.css" />
    <link rel="stylesheet" href="../CSS/detail-edu.css" />
    <link rel="stylesheet" href="../CSS/detail-tokoh.css" />
    <link rel="stylesheet" href="../CSS/detail-umkm.css" />
    <script src="https://kit.fontawesome.com/d1a508a7c1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Image/logo/logo80.png" type="image/x-icon" style="height: 20px;">
    <meta name="HandheldFriendly" content="true" />
    <title>UMKM Detail</title>
  </head>
  <body>
    <!-- Btn Slide Up -->

    <div class="WrapperCircleUp" onclick="ScroolTop()">
      <i class="fas fa-angle-up"></i>
    </div>
    
    <!-- START NAVBAR -->
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index"> Home </a>
          </li>
          <li>
            <a href="eduspace"> EduSpace </a>
          </li>
          <li>
            <a href="inspo"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter"> UMKM </a>
          </li>
          <li>
            <a href="Auth/login"> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>

    <div id="ParentWrapper">

      <!-- START MAIN CONTENT -->
      <div class="container">
        <section class="edu-content additional-margin">
            <div class="toCenter">
              <div class="title">
                <div class="title-content textCenter title-tokoh">
                  <h2>INFO UMKM</h2>
                </div>
              </div>
            </div>
          </section>
          <div class="cardFull wrapContent margin-bottom">
            <div class=" CardTwo makeCenter">
                <div class="img-tokoh">
                    <div class="wrapperImage">
                      <div class="backImage">
                        <img src="../Image/dokter-wisuda.png" class="gambar-utama"  />
                      </div>
                    </div>
                </div>
            </div>
              <div class="CardTwo text-white">
                    <div class="title-tokoh">
                      <h1 style="text-align: start">
                        Pengaruh teknologi dibidang
                        <span>kedokteran</span>
                      </h1>
                    </div>
                    <div class="tokoh-content weight-300">
                        <p>&nbsp;&nbsp;
                             Halodoc adalah platform teknologi kesehatan yang menghubungkan pasien dengan dokter, asuransi, laboratorium, dan apotek dalam satu aplikasi seluler sederhana.
                        </p><br>
                        <p>&nbsp;&nbsp;
                            Halodoc sendiri didirikan oleh Jonathan Sudharta(2016),yang berawal ketika anaknya sakit jam 2 pagi.  Berkat pengalaman ini, ia juga menyadari bahwa banyak orang di luar sana mungkin pernah mengalami hal yang sama. Ketika anggota keluarga atau teman sakit pada waktu yang tidak terduga dan tidak mungkin untuk bertemu langsung dengan dokter.
                        </p><br>
                        <p>&nbsp;&nbsp;
                          Dia kemudian mendirikan Halodoc dengan tujuan menyediakan akses layanan kesehatan bagi seluruh masyarakat Indonesia. Saat itu, ia masih bekerja sebagai sales representative di Mensa Group. Tumbuh dan berpengalaman dalam industri perawatan kesehatan, ia juga berkomitmen untuk menyediakan layanan kesehatan yang lebih mudah diakses.
                      </p><br>
                        <a href="http://everybodywiki.com" target="_blank" rel="noopener noreferrer" class="text-white">
                            Sumber : everybodywiki.com
                        </a>       
                    </div>
              </div>
              
          </div>

      </div>
    </div>

    <footer>
      <div class="container">
        <div class="wrapContent">
          <div class="left-footer">
            <div class="wrapContent MobileFooterCenter">
              <div class="FooterContentLeft">
                <h3>
                  Home<br />
                  EduSpace
                </h3>
              </div>
              <div class="FooterContentLeft">
                <h3>
                  Inspo<br />
                  JobCenter
                </h3>
              </div>
            </div>
          </div>
          <div class="right-footer">
            <div class="FooterContentRight">
              <h3>
                Created by : RPA Teams<br />
                © 2021 InDev. All rights reserved.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../JS/app.js"></script>
  </body>
</html>
