<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/beranda.css" />
    <link rel="stylesheet" href="../CSS/eduspace.css" />
    <link rel="stylesheet" href="../CSS/detail-edu.css" />
    <script src="https://kit.fontawesome.com/d1a508a7c1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Image/logo/logo80.png" type="image/x-icon" style="height: 20px;">
    <meta name="HandheldFriendly" content="true" />
    <title>EduSpace Detail</title>
  </head>
  <body>
    <!-- Btn Slide Up -->

    <div class="WrapperCircleUp" onclick="ScroolTop()">
      <i class="fas fa-angle-up"></i>
    </div>
    
    <!-- START NAVBAR -->
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index"> Home </a>
          </li>
          <li>
            <a href="eduspace" class="ActiveNav"> EduSpace </a>
          </li>
          <li>
            <a href="inspo"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter"> UMKM </a>
          </li>
          <li>
            <a href="Auth/login"> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>

    <div class="Nav-Mobile">
      <div class="toParentCenter">
          <ul>
            <li>
              <a href="../index"> Home </a>
            </li>
            <li>
              <a href="eduspace" class="ActiveNav"> EduSpace </a>
            </li>
            <li>
              <a href="inspo"> Inspo </a>
            </li>
            <li>
              <a href="jobCenter"> UMKM </a>
            </li>
            <li>
              <a href="../Auth/login"> Login </a>
            </li>
          </ul>
      </div>
    </div>

    

    <div id="ParentWrapper">

      <!-- START MAIN CONTENT -->
      <section class="edu-content additional-margin">
        <div class="toCenter">
          <div class="title">
            <div class="title-content textCenter">
              <h2>Edu Info</h2>
            </div>
            <div class="mini-title-content textCenter">
              <p>
                Edu Space hadir untuk memberikan edukasi seputar teknologi
                kepada pemuda Indonesia dengan harapan menambahkan wawasan dan
                pengetahuan kepada pemuda Indonesia
              </p>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="cardFull detailEduCard">
          <h1>
            Bagaimana cara menjadi 
            <span>FullStack</span> Developer
          </h1>
          <div class="toCenter">
            <img src="../Image/fullstack.png" alt="" style="width: 500px; margin-bottom: 20px;">  
         </div>
          <p>
            
            Apa itu Full Stack Developer?
Full stack developer adalah sebutan untuk developer yang berurusan dengan segala sisi pembuatan website, baik front-end hingga back-end. Full stack developer singkatnya mengerjakan tugasnya front-end dan back-end developer. Namun, selain itu, bisa juga ia diminta untuk mengembangkan aplikasi, debugging, troubleshooting, bahkan membuat fitur baru.</p> <br><br>

<p>
  8 Skill Full Stack Developer yang Wajib Dimiliki
</p><br>
<p>
  <span>
    1. Paham HTML dan CSS<br>
  </span>
Langkah pertama yang paling mendasar untuk menjadi seorang developer adalah menguasai HTML dan CSS. HTML digunakan untuk membangun struktur website. Sedangkan CSS berfungsi untuk mendesain dan mengatur halaman website agar terlihat menarik.
</p><br>

<p>
  <span>
    2. Kuasai JavaScript<br>
  </span>
JavaScript mengalami perkembangan secara terus menerus. Termasuk semakin banyak pula tools, libraries dan framework terbarunya yang rilis. Menurut Stack Overflow 2016 Developer Survey, JavaScript merupakan bahasa pemrograman terpopuler di kalangan developer. 
</p><br>

<p>
  <span>
    3. Kuasai Bahasa Pemrograman Back-end <br>
  </span>
Sama dengan front-end yang wajib memahami HTML, CSS, dan JavaScript untuk membuat struktur website, di back-end bahasa pemrograman sangatlah penting untuk memahami: cara kerja database, user authentication, application logic dan mengintegrasikan segala fungsi yang ada di front-end. <br>Dari sekian jenis bahasa pemrograman, beberapa diantaranya yang sering digunakan adalah JavaScript, Phyton, Java, Ruby, PhP dan C++.
</p><br>

<p>
  <span>
    4. Paham Kinerja Database dan Web Storage<br>
  </span>
Setiap aplikasi atau website akan memerlukan database untuk menyimpan data. Sebagai full stack developer, setidaknya wajib buat Anda untuk menguasai satu atau dua sistem manajemen database dan cara kerjanya. 
</p><br>

<p>
  <span>
    5. Mengenal Cara Kerja HTTP & REST<br>
  </span>

Full stack developer juga perlu tahu bagaimana cara kerja HTTP dan REST. Apa itu HTTP? HTTP merupakan protokol dalam jaringan yang berfungsi untuk mentransfer dokumen, file, gambar, video, antar komputer. Untuk penjelasan yang lebih komplit.<br>

Sedangkan REST (Representational State Transfer) merupakan standar metode komunikasi yang menggunakan protokol HTTP dan sering diterapkan untuk pengembangan website. Tujuan REST itu sendiri adalah untuk membuat sistem website bisa bekerja cepat dan mudah. 
</p><br>

<p>
  <span>
    6. Tahu Cara Menggunakan GIT<br>
  </span>
Singkatnya, GIT diartikan sebagai pengontrol versi (Version Control System) untuk mencatat setiap perubahan file yang di dalamnya terdapat kode-kode yang dibuat oleh developer. Selain GIT, Anda juga perlu tahu cara penggunaan GITHub. <br>

GITHub merupakan aplikasi berbasis website, di mana Anda bisa menyimpan setiap file kode GIT. Di samping itu, ia juga diibaratkan seperti media sosial untuk para developer. Jadi, masing-masing developer bisa menyimpan, membagikan, dan mengatur setiap file proyek yang ada di dalamnya.
</p><br>

<p>
  <span>
    7. Paham Konsep Dasar Algoritma dan Struktur Data<br>
  </span>
Supaya bisa menciptakan aplikasi atau website yang sempurna, Anda juga harus memahami dasar-dasar algoritma dan struktur data. Algoritma merupakan sebuah metode untuk memecahkan suatu masalah dengan cara logis dan sistematis. <br>

Sedangkan struktur data merupakan cara mengelola data agar dapat digunakan secara efektif dan efisien. Skill kedua ini begitu penting untuk para developer. Khususnya untuk menciptakan produk aplikasi atau website yang mudah digunakan user. 
</p><br>

<p>
  <span>
    8. Memahami UI dan UX<br>
  </span>
Skill berikutnya yang tidak boleh dilewatkan untuk menjadi full stack developer adalah memahami UI dan UX. Walaupun Anda tidak harus memiliki skill teknik desain secara eksplisit, tetapi Anda tetap perlu memahami konsep dasar keduanya. 
</p><br>


          </p>
          
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="wrapContent">
          <div class="left-footer">
            <div class="wrapContent MobileFooterCenter">
              <div class="FooterContentLeft">
                <h3>
                  Home<br />
                  EduSpace
                </h3>
              </div>
              <div class="FooterContentLeft">
                <h3>
                  Inspo<br />
                  JobCenter
                </h3>
              </div>
            </div>
          </div>
          <div class="right-footer">
            <div class="FooterContentRight">
              <h3>
                Created by : RPA Teams<br />
                © 2021 InDev. All rights reserved.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../JS/app.js"></script>
  </body>
</html>
