<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/beranda.css" />
    <link rel="stylesheet" href="../CSS/eduspace.css" />
    <link rel="stylesheet" href="../CSS/tokoh.css" />
    <link rel="icon" href="../Image/logo/logo80.png" type="image/x-icon" style="height: 20px;">
    <meta name="HandheldFriendly" content="true" />
    <title>EduSpace</title>
  </head>
  <body>
    <!-- START NAVBAR -->
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index"> Home </a>
          </li>
          <li>
            <a href="eduspace"> EduSpace </a>
          </li>
          <li>
            <a href="inspo"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter"> UMKM </a>
          </li>
          <li>
            <a href="Auth/login"> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>

    <div id="ParentWrapper">
      <!-- START WELCOME PAGE -->
      <section>
        <div class="container">
          <div class="wrapContent">
            <div class="layout-half toCenter">
              <div class="Left-information">
                ““Are You Ready<br /><span>to Learn?</span>”
              </div>
            </div>
            <div class="layout-half">
              <div class="wrapperImage toCenter">
                <div class="backImage">       
                  <img src="../Image/vr.png" class="gambar-utama" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- START YELLOW TEXT -->
      <section style="margin: 4rem 0 0 0">
        <div class="bottom-information">
          <div class="contents-bottom-information">
            <h1 class="textCenter">
              “Indonesia Mendapatkan Bonus Demografi pada tahun ”
            </h1>
            <h2 class="textCenter">2025”</h2>
          </div>
        </div>
      </section>

      <!-- START MAIN CONTENT -->
      <section class="edu-content">
        <div class="toCenter">
          <div class="title">
            <div class="title-content textCenter">
              <h2>Edu Info</h2>
            </div>
            <div class="mini-title-content textCenter">
              <p>
                Edu Space hadir untuk memberikan edukasi seputar teknologi
                kepada pemuda Indonesia dengan harapan menambahkan wawasan dan
                pengetahuan kepada pemuda Indonesia
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="edu-nav">
        <div class="all-edu">
          <div class="edu-card">
            <div class="make-center">
              <a href="#">Hard Skill</a>
            </div>
          </div>
          <div class="edu-card" style="margin-left: 11px">
            <div class="make-center">
              <a href="#">Technology</a>
            </div>
          </div>
          <div class="edu-card" style="margin-left: 11px">
            <div class="make-center">
              <a href="#">Soft Skill</a>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <div class="wrapContent">
            <div class="CardTwoPart">
              <a href="../Component/detail-edu1.html">
                <h1>
                  <span>7 Habit</span><br />
                  Orang Sukses
                </h1>
                <p>
                  Dibalik kesuksesan seseorang,mereka memiliki kebiasaan yang baik.
                  Dengan memiliki habit yang baik hidup akan lebih bermakna
                </p>
                <img src="../Image/Button-right.png" />
              </a>
            </div>
          <div class="CardTwoPart">
            <a href="../Component/detail-edu2.html">
              <h1>
                Road Map <br />
                <span>FullStack</span> Dev
              </h1>
              <p>
                Dibalik kesuksesan seseorang,mereka memiliki kebiasaan yang baik.
                Dengan memiliki habit yang baik hidup akan lebih bermakna
              </p>
              <img src="../Image/Button-right.png" />
            </a>
          </div>
        </div>
        <div class="cardFull eduFullCard">
          <a href="../Component/detail-edu1.html">
            <h1>
              Road Map To Become
              <span>FullStack</span> Developer
            </h1>
            <p>
              Dibalik kesuksesan seseorang,mereka memiliki kebiasaan yang baik.
              Dengan memiliki habit yang baik hidup akan lebih bermakna
            </p>
            <img src="../Image/Button-right.png" />

          </a>
        </div>
      </div>

      <section class="additional-margin position-relative circleGOLD">
        <img src="../Image/Star.png" class="SelectedStar-1" />
        <img src="../Image/Star.png" class="SelectedStar-2" />
        <div class="TitleSelected">
          <h1 class="toCenter">
            <img src="../Image/Black Star.png" />
            <span> Selected For u </span>
            <img src="../Image/Black Star.png" />
          </h1>
        </div>
        <div class="container">
          <div class="wrapContent toHorizontalCenter">
            <div class="CardThreePart weight-font text-gold">
              <a href="detail-tokoh1.html">
                <h2 class="text-white">Bukalapak Soars 25% indonesia’s</h2>
                
                  <h1>BIGGEST IPO</h1>
                
                <div class="toHorizontalCenter">
                  <img src="../Image/buka lapak.png" class="CardBottom" />
                </div>
              </a>
            </div>
            <div class="CardThreePart weight-font">
              <a href="detail-tokoh2.html">
                <h2 class="text-white">Pak Nadiem Bagi-bagi laptop</h2>
                
                  <h1>GRATIS?!!</h1>
             
                <div class="toHorizontalCenter">
                  <img src="../Image/nadiem.png" />
                </div>
              </a>
            </div>
            <div class="CardThreePart weight-font">
              <a href="detail-tokoh3.html">
                <h2 class="text-white">Inovasi Teknologi Dalam Olimpiade</h2>
                
                  <h1>TOKYO</h1>
              
                <div class="toHorizontalCenter">
                  <img src="../Image/tokyo.png" class="CardBottom" />
                </div>
              </a>
            </div>
            <a href="../Component/tokoh.html" type="button" class="Btn-primary toVerticalCenter"
            style="margin-top: 4rem">Explore More <img src="../Image/chevron-right.png" /></a>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="container">
        <div class="wrapContent">
          <div class="left-footer">
            <div class="wrapContent MobileFooterCenter">
              <div class="FooterContentLeft">
                <h3>
                  Home<br />
                  EduSpace
                </h3>
              </div>
              <div class="FooterContentLeft">
                <h3>
                  Inspo<br />
                  JobCenter
                </h3>
              </div>
            </div>
          </div>
          <div class="right-footer">
            <div class="FooterContentRight">
              <h3>
                Created by : RPA Teams<br />
                © 2021 InDev. All rights reserved.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../JS/app.js"></script>
  </body>
</html>
