<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/inspo.css" />
    <title>Inspo</title>
</head>
<body>
    <div class="navbar">
        <div class="LogoNav">
          <h3>InDev</h3>
        </div>
        <div class="nav-links">
          <ul>
            <li>
              <a href="../index.html"> Home </a>
            </li>
            <li>
              <a href="eduspace.html"> EduSpace </a>
            </li>
            <li>
              <a href="inspo.html"> Inspo </a>
            </li>
            <li>
              <a href="jobCenter.html"> UMKM </a>
            </li>
            <li>
              <a href=""> Login </a>
            </li>
          </ul>
          <label for="check" class="menu-toggle">
            <div class="bar half start"></div>
            <div class="bar"></div>
            <div class="bar half end"></div>
          </label>
        </div>
      </div>

        <div id="ParentWrapper">
            <section class="additional-margin">
                <div class="container">
                    <div class="wrapContent">
                        <div class="inspoTitle">
                            <h1>News post</h1>
                            <p>
                              Let's create and share the latest news about technology that is
                              around you to everyone
                            </p>
                            <div class="MobileCenter">
                                <img src="../Image/btn.png" width="40">
                            </div>
                        </div>
                        <div class="layout-half Left-Padding">
                            <div class="cardInfo">
                                <img src="../Image/nadiem2.png" />
                                <div class="ContentInfo">
                                  <h2>Nadiem Makarim</h2>
                                  <p>
                                    Ternyata Inspirasi Nadiem Makarim untuk membuat sebuah inovasi baru di bidang transportasi umum muncul ketika dirinya harus setiap hari kesusahan menembus kemacetan di kota Jakarta menggunakan transportasi ojek tradisional. 
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Right-Padding top-15-minus">
                            <div class="cardInfo">
                                <img src="../Image/krl.png" />
                                <div class="ContentInfo">
                                  <h2>KRL</h2>
                                  <p>
                                    Kemajuan Teknologi juga terasa di bidang transportasi. Mulai dari KRL,MRT,sampai LRT. Saya menggunakan MRT Senayan Kemarin rasanya menyenangkan terhindar dari macet,sampai kantor pun dengan cepat.
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <img src="../Image/external-link.png" />
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Left-Padding top-5">
                            <div class="cardInfo">
                                <img src="../Image/penyu.png" />
                                <div class="ContentInfo">
                                  <h2>Aruna</h2>
                                  <p>
                                    Aruna bertujuan untuk menghubungkan nelayan skala kecil dengan global dalam mempromosikan makanan laut indonesia yang lezat; melalui kesepakatan grosir, belanja ritel, dan kemitraan bisnis.
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <img src="../Image/external-link.png" />
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Right-Padding top-15-minus">
                            <div class="cardInfo">
                                <img src="../Image/gita.png" />
                                <div class="ContentInfo">
                                  <h2>Gita Wirjawan</h2>
                                  <p>
                                    Join entrepreneur, educator, and proud Indonesian, Gita Wirjawan in exploring the ways forward for our society through stories and experiences by thought leaders, trailblazers, and opinion-makers from Indonesia and the region.
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <img src="../Image/external-link.png" />
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Left-Padding top-5">
                            <div class="cardInfo">
                                <img src="../Image/tarian.png" />
                                <div class="ContentInfo">
                                  <h2>Festival Busana</h2>
                                  <p>
                                    Dibalik kesuksesan seseorang,mereka memiliki kebiasaan yang
                                    baik. Dengan memiliki habit yang baik hidup akan lebih bermakna
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <img src="../Image/external-link.png" />
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Right-Padding top-15-minus">
                            <div class="cardInfo">
                                <img src="../Image/hp.png" />
                                <div class="ContentInfo">
                                  <h2>Gadget</h2>
                                  <p>
                                    Dengan sentuhan teknologi digital, jasa layanan tukang ojek dapat diakses oleh siapa saja dan dari mana saja. Terlebih saat ini dunia digital memiliki peranan yang vital bagi seluruh lapisan masyarakat.
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <img src="../Image/external-link.png" />
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer>
            <div class="container">
              <div class="wrapContent">
                <div class="left-footer">
                  <div class="wrapContent MobileFooterCenter">
                    <div class="FooterContentLeft">
                      <h3>
                        Home<br />
                        EduSpace
                      </h3>
                    </div>
                    <div class="FooterContentLeft">
                      <h3>
                        Inspo<br />
                        JobCenter
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="right-footer">
                  <div class="FooterContentRight">
                    <h3>
                      Created by : RPA Teams<br />
                      © 2021 InDev. All rights reserved.
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </footer>
    <script src="../JS/app.js"></script>
</body>
</html>