<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/inspo.css" />
    <script src="https://kit.fontawesome.com/d1a508a7c1.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../Image/logo/logo80.png" type="image/x-icon" style="height: 20px;">
    <title>Inspo</title>
</head>
<body>
    <!-- Btn Slide Up -->

    <div class="WrapperCircleUp" onclick="ScroolTop()">
      <i class="fas fa-angle-up"></i>
    </div>
    
    <div class="navbar">
        <div class="LogoNav">
          <h3>InDev</h3>
        </div>
        <div class="nav-links">
          <ul>
            <li>
              <a href="../index"> Home </a>
            </li>
            <li>
              <a href="eduspace"> EduSpace </a>
            </li>
            <li>
              <a href="inspo" class="ActiveNav"> Inspo </a>
            </li>
            <li>
              <a href="jobCenter"> UMKM </a>
            </li>
            <li>
              <a href="../Auth/login"> Login </a>
            </li>
          </ul>
          <label for="check" class="menu-toggle">
            <div class="bar half start"></div>
            <div class="bar"></div>
            <div class="bar half end"></div>
          </label>
        </div>
      </div>

      <div class="Nav-Mobile">
        <div class="toParentCenter">
            <ul>
              <li>
                <a href="../index"> Home </a>
              </li>
              <li>
                <a href="eduspace"> EduSpace </a>
              </li>
              <li>
                <a href="inspo" class="ActiveNav"> Inspo </a>
              </li>
              <li>
                <a href="jobCenter"> UMKM </a>
              </li>
              <li>
                <a href="../Auth/login"> Login </a>
              </li>
            </ul>
        </div>
      </div>

        <div id="ParentWrapper">
            <section class="additional-margin">
                <div class="container">
                    <div class="wrapContent">
                        <div class="inspoTitle">
                            <h1>News Inspirational</h1>
                            <p>
                              Ayo bagikan berita terbaru tentang teknologi yang ada di sekitar Anda kepada semua orang.
                            </p>
                        </div>
                        <div class="layout-half Left-Padding bottom-5">
                            <div class="cardInfo">
                                <img src="../Image/nadiem2.png" />
                                <div class="ContentInfo">
                                  <h2>Nadiem Makarim</h2>
                                  <p>
                                    Ternyata Inspirasi Nadiem Makarim untuk membuat sebuah inovasi baru di bidang transportasi umum muncul ketika dirinya harus setiap hari kesusahan menembus kemacetan di kota Jakarta menggunakan transportasi ojek tradisional. 
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <a href="https://markey.id/blog/bisnis/gojek-indonesia#Sejarah_Berdirinya_Gojek_Indonesia " target="_blank" rel="noopener noreferrer">
                                      <img src="../Image/external-link.png" />
                                    </a>
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Right-Padding top-15-minus">
                            <div class="cardInfo">
                                <img src="../Image/krl.png" />
                                <div class="ContentInfo">
                                  <h2>KRL</h2>
                                  <p>
                                    Kemajuan Teknologi juga terasa di bidang transportasi. Mulai dari KRL,MRT,sampai LRT. Saya menggunakan MRT Senayan Kemarin rasanya menyenangkan terhindar dari macet,sampai kantor pun dengan cepat.
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <a href="https://www.lrtjakarta.co.id/" target="_blank" rel="noopener noreferrer">
                                      <img src="../Image/external-link.png" /></a>
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Left-Padding bottom-5">
                            <div class="cardInfo">
                                <img src="../Image/penyu.png" />
                                <div class="ContentInfo">
                                  <h2>Aruna</h2>
                                  <p>
                                    Aruna bertujuan untuk menghubungkan nelayan skala kecil dengan global dalam mempromosikan makanan laut indonesia yang lezat; melalui kesepakatan grosir, belanja ritel, dan kemitraan bisnis.
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <a href="http://aruna.id" target="_blank" rel="noopener noreferrer" class="text-white">
                                      <img src="../Image/external-link.png" />
                                    </a>
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Right-Padding bottom-5 top-15-minus">
                            <div class="cardInfo">
                                <img src="../Image/gita.png" />
                                <div class="ContentInfo">
                                  <h2>Gita Wirjawan</h2>
                                  <p>
                                    Menjadi pengusaha, pendidik, dan orang yang  bangga dengan indonesia, Gita Wirjawan memberi kontribusinya untuk masa  depan bagi masyarakat kita melalui cerita dan pengalaman oleh para pemimpin pemikiran, perintis, dan pembuat opini dari Indonesia dan kawasan-di Spotify.
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <a href="https://open.spotify.com/show/72q1XjiuFViF2tx7IbQ5X5?si=qUOPhDPxQsO5D0L1kUBKzw&dl_branch=1" target="_blank" rel="noopener noreferrer">
                                      <img src="../Image/external-link.png" />
                                    </a>
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Left-Padding bottom-5">
                            <div class="cardInfo">
                                <img src="../Image/panglipuran-kecil.jpg" />
                                <div class="ContentInfo">
                                  <h2>Panglipuran </h2>
                                  <p>
                                     Salah satu desa di bali yang masih menjaga adat istiadatnya hingga sekarang. Foto ini diambil saat melakukan kegiatan upacara adat disana.
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <a href="https://en.wikipedia.org/wiki/Penglipuran" target="_blank" rel="noopener noreferrer">
                                      <img src="../Image/external-link.png" />
                                    </a>
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-half Right-Padding top-15-minus">
                            <div class="cardInfo">
                                <img src="../Image/hp.png" />
                                <div class="ContentInfo">
                                  <h2>Inovasi Technology</h2>
                                  <p>
                                    Dengan sentuhan teknologi digital, jasa layanan tukang ojek dapat diakses oleh siapa saja dan dari mana saja. Terlebih saat ini dunia digital memiliki peranan yang vital bagi seluruh lapisan masyarakat.
                                  </p>
                                  <div class="DetailIcon toRight">
                                    <a href="https://www.gojek.com/id-id/" target="_blank" rel="noopener noreferrer">
                                      <img src="../Image/external-link.png" />
                                    </a>
                                    <img src="../Image/favorite.png" />
                                    <img src="../Image/bookmark.png" />
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer>
          <div class="container">
            <div class="wrapContent">
              <div class="left-footer">
                <div class="wrapContent MobileFooterCenter">
                  <div class="FooterContentLeft">
                    <h3>
                      <a href="../index.html" class="text-white">
                        Home<br />
                      </a>
                      <a href="eduspace.html" class="text-white">
                        EduSpace
                      </a>
                    </h3>
                  </div>
                  <div class="FooterContentLeft">
                    <h3>
                      <a href="inspo.html" class="text-white">
                        Inspo<br />
                      </a>
                      <a href="jobCenter.html"  class="text-white">
                        UMKM
                      </a>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="right-footer">
                <div class="FooterContentRight">
                  <h3>
                    Created by : RPA Teams<br />
                    © 2021 InDev. All rights reserved.
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </footer>
    <script src="../JS/app.js"></script>
</body>
</html>