<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/jobCenter.css" />
    <meta name="HandheldFriendly" content="true" />
    <title>Home</title>
  </head>
  <body>
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index.html"> Home </a>
          </li>
          <li>
            <a href="eduspace.html"> EduSpace </a>
          </li>
          <li>
            <a href="inspo.html"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter.html"> UMKM </a>
          </li>
          <li>
            <a href=""> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>

    <div id="ParentWrapper">
      <section class="additional-margin">
        <div class="container">
          <div class="jobTitle">
            <h1 class="textCenter">UMKM Info</h1>
            <p class="textCenter">
              Berikut produk-proguk dalam negri yang bergerak dibidang teknologi
            </p>

            <div class="btn-group CostumBTN">
                <button class="Btn-primary">Newest</button>
                <button class="Btn-primary">Oldeset</button>
            </div>
          </div>
          <div class="wrapContent">
            <div class="cardFull bottom-5">
              <div class="wrapContent">
                <div class="layout-half toCenter CostumTabLayout">
                  <div class="WrapperUMKM">
                    <h2 style="text-align: start">
                      <span>The Largest</span> integrated Fishers commerce in
                      indonesia
                    </h2>
                    <h1 class="hiddenMobile hiddenTab">ARUNA</h1>
                    <p class="hiddenMobile hiddenTab">
                      Making the Sea a Better Livelihood for All Aruna aims to
                      connect the small-scale fishers to the global exposure in
                      promoting the delectable seafood of Indonesia; through the
                      wholesale deal, retail shopping, and business partnership.
                    </p>
                    <div class="btn-right">
                      <img src="../Image/Button-right.png" width="40" />
                    </div>
                  </div>
                </div>
                <div class="layout-half imgPenyu">
                  <div class="wrapContent">
                    <img src="../Image/penyu.png" style="width: 100%" />
                    <div class="WrapperUMKM">
                      <h1 class="hiddenWeb">ARUNA</h1>
                      <p class="hiddenWeb">
                        Making the Sea a Better Livelihood for All Aruna aims to
                        connect the small-scale fishers to the global exposure in
                        promoting the delectable seafood of Indonesia; through the
                        wholesale deal, retail shopping, and business partnership.
                      </p>
                    </div>
                    <div class="btn-left">
                      <img src="../Image/Button-right.png" width="40" />
                    </div>
                  </div>
                </div>
                <div class="layout-half imgPenyu">
                  <img src="../Image/penyu.png" style="width: 90%" />
                </div>
              </div>
            </div>
            <div class="cardFull bottom-5">
              <div class="wrapContent">
                <div class="layout-half toCenter CostumTabLayout">
                  <div class="WrapperUMKM">
                    <h2 style="text-align: start">
                      <span>The Largest</span> integrated Fishers commerce in
                      indonesia
                    </h2>
                    <h1 class="hiddenMobile hiddenTab">ARUNA</h1>
                    <p class="hiddenMobile hiddenTab">
                      Through Halodoc, people can talk to a doctor, buy medicine, and do laboratory tests[3]. Everything is done via smartphone anytime and anywhere for 24/7 . The goal of Halodoc is simplifying healthcare, which facilitates access to healthcare for all Indonesian people.
                    </p>
                    <div class="btn-right">
                      <img src="../Image/Button-right.png" width="40" />
                    </div>
                  </div>
                </div>
                <div class="layout-half imgPenyu">
                  <div class="wrapContent">
                    <img src="../Image/doc.png" style="width: 100%" />
                    <div class="WrapperUMKM">
                      <h1 class="hiddenWeb">ARUNA</h1>
                      <p class="hiddenWeb">
                        Through Halodoc, people can talk to a doctor, buy medicine, and do laboratory tests[3]. Everything is done via smartphone anytime and anywhere for 24/7 . The goal of Halodoc is simplifying healthcare, which facilitates access to healthcare for all Indonesian people.
                      </p>
                    </div>
                    <div class="btn-left">
                      <img src="../Image/Button-right.png" width="40" />
                    </div>
                  </div>
                </div>
                <div class="layout-half imgPenyu">
                  <img src="../Image/doc.png" style="width: 90%" />
                </div>
              </div>
            </div>
            <div class="cardFull bottom-5">
              <div class="wrapContent">
                <div class="layout-half toCenter CostumTabLayout">
                  <div class="WrapperUMKM">
                    <h2 style="text-align: start">
                      <span>The Largest</span> integrated Fishers commerce in
                      indonesia
                    </h2>
                    <h1 class="hiddenMobile hiddenTab">ARUNA</h1>
                    <p class="hiddenMobile hiddenTab">
                      Ruangguru mengembangkan berbagai layanan belajar berbasis teknologi, termasuk layanan kelas virtual, platform ujian online, video belajar berlangganan, marketplace les privat, serta konten-konten pendidikan lainnya yang bisa diakses melalui web dan aplikasi Ruangguru.
                    </p>
                    <div class="btn-right">
                      <img src="../Image/Button-right.png" width="40" />
                    </div>
                  </div>
                </div>
                <div class="layout-half imgPenyu">
                  <div class="wrapContent">
                    <img src="../Image/rg.png" style="width: 100%" />
                    <div class="WrapperUMKM">
                      <h1 class="hiddenWeb">ARUNA</h1>
                      <p class="hiddenWeb">
                        Ruangguru mengembangkan berbagai layanan belajar berbasis teknologi, termasuk layanan kelas virtual, platform ujian online, video belajar berlangganan, marketplace les privat, serta konten-konten pendidikan lainnya yang bisa diakses melalui web dan aplikasi Ruangguru.
                      </p>
                    </div>
                    <div class="btn-left">
                      <img src="../Image/Button-right.png" width="40" />
                    </div>
                  </div>
                </div>
                <div class="layout-half imgPenyu">
                  <img src="../Image/rg.png" style="width: 90%" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="additional-margin position-relative circleGOLD">
        <img src="../Image/Star.png" class="SelectedStar-1" />
        <img src="../Image/Star.png" class="SelectedStar-2" />
        <div class="TitleSelected">
          <h1 class="toCenter">
            <img src="../Image/Black Star.png" />
            <span> Selected For u </span>
            <img src="../Image/Black Star.png" />
          </h1>
        </div>
        <div class="container">
          <div class="wrapContent toHorizontalCenter">
            <div class="CardThreePart weight-font text-gold">
              <h2 class="text-white">Bukalapak Soars 25% indonesia’s</h2>
              
                <h1>BIGGEST IPO</h1>
              
              <div class="toHorizontalCenter">
                <img src="../Image/buka lapak.png" class="CardBottom" />
              </div>
            </div>
            <div class="CardThreePart weight-font">
              <h2 class="text-white">Pak Nadiem Bagi-bagi laptop</h2>
              
                <h1>GRATIS?!!</h1>
           
              <div class="toHorizontalCenter">
                <img src="../Image/nadiem.png" />
              </div>
            </div>
            <div class="CardThreePart weight-font">
              <h2 class="text-white">Inovasi Teknologi Dalam Olimpiade</h2>
              
                <h1>TOKYO</h1>
            
              <div class="toHorizontalCenter">
                <img src="../Image/tokyo.png" class="CardBottom" />
              </div>
            </div>
            <a href="../Component/tokoh.html" type="button" class="Btn-primary toVerticalCenter"
            style="margin-top: 4rem">Explore More <img src="../Image/chevron-right.png" /></a>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="container">
        <div class="wrapContent">
          <div class="left-footer">
            <div class="wrapContent MobileFooterCenter">
              <div class="FooterContentLeft">
                <h3>
                  Home<br />
                  EduSpace
                </h3>
              </div>
              <div class="FooterContentLeft">
                <h3>
                  Inspo<br />
                  JobCenter
                </h3>
              </div>
            </div>
          </div>
          <div class="right-footer">
            <div class="FooterContentRight">
              <h3>
                Created by : RPA Teams<br />
                © 2021 InDev. All rights reserved.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="../JS/app.js"></script>
  </body>
</html>
