<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/beranda.css" />
    <link rel="stylesheet" href="../CSS/eduspace.css" />
    <link rel="stylesheet" href="../CSS/detail-edu.css" />
    <link rel="stylesheet" href="../CSS/tokoh.css" />
    <meta name="HandheldFriendly" content="true" />
    <title>EduSpace</title>
  </head>
  <body>
    <!-- START NAVBAR -->
    <div class="navbar">
      <div class="LogoNav">
        <h3>InDev</h3>
      </div>
      <div class="nav-links">
        <ul>
          <li>
            <a href="../index.html"> Home </a>
          </li>
          <li>
            <a href="eduspace.html"> EduSpace </a>
          </li>
          <li>
            <a href="inspo.html"> Inspo </a>
          </li>
          <li>
            <a href="jobCenter.html"> UMKM </a>
          </li>
          <li>
            <a href=""> Login </a>
          </li>
        </ul>
        <label for="check" class="menu-toggle">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
        </label>
      </div>
    </div>


    <div class="cotainer">
        <section class="edu-content additional-margin">
            <div class="toCenter">
              <div class="title">
                <div class="title-content textCenter title-tokoh">
                  <h2>Inspiring person</h2>
                </div>
              </div>
            </div>
          </section>
        <div class="make-center">
            <div class="cardFull" style="width: 90%; margin-bottom: 30px;" >
                <section class=" position-relative">
                    <div class="container">
                      <div class="wrapContent toHorizontalCenter">
                        <div class="CardThreePart bg-card weight-font">
                          <h2 class="text-white">Bukalapak Soars 25% indonesia’s</h2>
                          <h1 class="text-gold">BIGGEST IPO</h1>
                          <div class="toHorizontalCenter">
                            <img src="../Image/buka lapak.png" class="CardBottom" />
                          </div>
                        </div>
                        <div class="CardThreePart bg-card weight-font">
                          <h2 class="text-white">Pak Nadiem Bagi-bagi laptop</h2>
                          <h1 class="text-gold">GRATIS?!!</h1>
                          <div class="toHorizontalCenter">
                            <img src="../Image/nadiem.png" />
                          </div>
                        </div>
                        <div class="CardThreePart bg-card weight-font">
                          <h2 class="text-white">Inovasi Teknologi Dalam Olimpiade</h2>
                          <h1 class="text-gold">TOKYO</h1>
                          <div class="toHorizontalCenter">
                            <img src="../Image/tokyo.png" class="CardBottom" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>
        </div>
    </div>





    <footer>
        <div class="container">
          <div class="wrapContent">
            <div class="left-footer">
              <div class="wrapContent MobileFooterCenter">
                <div class="FooterContentLeft">
                  <h3>
                    Home<br />
                    EduSpace
                  </h3>
                </div>
                <div class="FooterContentLeft">
                  <h3>
                    Inspo<br />
                    JobCenter
                  </h3>
                </div>
              </div>
            </div>
            <div class="right-footer">
              <div class="FooterContentRight">
                <h3>
                  Created by : RPA Teams<br />
                  © 2021 InDev. All rights reserved.
                </h3>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="../JS/app.js"></script>
</body>
</html>
  